@model Cidade
@{
    ViewData["Title"] = "Adicionar cidade";
}

@Html.ValidationSummary("", new { @class = "text-danger" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default container">
        <div class="panel-body">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Condicao)
            @Html.HiddenFor(model => model.Temperatura)

            <div class="row">
                <div class="form-group col-lg-4">
                    @Html.LabelFor(model => model.Nome)
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @type = "text", @class = "form-control", @value = "", @required = "true" } })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adicionar cidade
                    </button>
                    <a href="/" class="btn btn-warning">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Voltar
                    </a>
                </div>
            </div>            

            <p class="text-danger"> @Html.Raw(ViewBag.error) </p>            
        </div>
    </div>
}