@model IList<Cidade>
@{
    ViewData["Title"] = "Home";
}


<div class="panel-body">    
    <div id="info" class="row">
        <a class="btn btn-primary" style="margin-bottom:10px;" asp-controller="Home" asp-action="Create">
            <span class="glyphicon glyphicon-plus"></span>
            Adicionar cidade
        </a>

        @if (Model.Count > 0)
        {
            <table id="table" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th class="col-lg-2">Cidade</th>
                        <th class="col-lg-5">Condição</th>
                        <th class="col-lg-1">Temperatura</th>
                        <th class="col-lg-1 text-center">Remover</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="linha-@item.Id">
                            <td>@item.Nome</td>
                            <td>@item.Condicao</td>
                            <td>@(item.Temperatura)º C</td>
                            <td class="text-center">                                                                
                                <button type="reset" onclick="Delete(@item.Id)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-minus-sign"></span>                                        
                                </button>                                                                        
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>Não há cidades cadastradas</h4>
        }
    </div>
</div>

<script>
    function Delete(id) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("Delete", "Home")',
            data: {
                "id": id,
            },
            success: function () {
                $("#linha-" + id + "").fadeOut(function () {
                    $("#linha-" + id + "").remove();

                    var linhasTabela = $("#table tr").length;
                    if (linhasTabela == 1) {
                        $("#table").fadeOut(function () {
                            $("#table").remove();
                            var semCidade = $("<h4>Não há cidades cadastradas</h4>").hide().fadeIn();
                            $("#info").append(semCidade);
                        });
                    }
                });
            },
            error: function (ajaxOptions, thrownError) {
            },
        });
    }
</script>